/* --------------------header-------------------- */
body{
   background-color:  #f2f2f2;
   margin: 0;

}
p{
    color: #666;
}

.topbar
{
    background-color: #FF9500;
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 10px;
    border-radius: 10px;
    margin: 10px 10px;
    
}
.icon1{
    margin-left:  20px ;
}
.topbar a{
    text-decoration: none;
    color: white;
    
}
.topbar:hover{
    transform: scale(.9888);
    transition: all .2s ease;

}
.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
    
   
}

.navleftlinks
{
    display: flex;
    align-items: center;
    padding: 8px 15px; 
    flex-wrap: wrap;
    gap: 10px;
}
.navbar a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 30px; 
    
}
.navrightlinks 
{
   
margin-right: 0;

}
.navrightlinks a
{
   
  margin-right: 30px;

}
#loginlink
{
    background-color: #FF9500;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;

}

.icon2{
    margin-top: 9px;
}
#home:hover,#about_us:hover, #contact_us:hover, #courses:hover
{
    background-color: #ffffff;
    border-radius: 7px;
}
#loginlink:hover
{
    background-color: #ff7b00;

}
/* ----------------------main--------------------------------------- */
.course-hero {
  background: #f1f2f4;
  padding: 60px 80px;
  border-bottom: 1px solid #ddd;
}


.course-hero article {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  align-items: center;
  gap: 60px;
  max-width: 1200px;
  margin: auto;
}


.course-hero h1 {
  font-size: 32px;
  font-weight: 700;
  color: #333;
}


.course-hero p {
  font-size: 15px;
  line-height: 1.7;
  color: #666;
}
.image-box {
    display: flex;
    justify-content: center; 
    align-items: center;     
    margin: 0;              
    padding: 0;              
}

.image-box img {
    max-width: 100%;         
    height: auto;            
    display: block;          
    border-radius: 12px;    
}
.courses-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(3, auto);    
    gap: 30px;
    margin: 30px;
}
.section-card {
  background: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  position: relative;
}
.section-card a
{
    text-decoration: none;
    font-weight: bold;
    color: #333;
}

.section-number {
  position: absolute; 
  top: 20px;
  right: 25px;
  font-size: 48px;
  font-weight: bold;
  color: #000000;
}


.section-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 25px;
  color: #333;
}


.lesson {
  border: 1px solid #eee;
  padding: 15px 18px;
  border-radius: 10px;
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 1fr auto; 
  align-items: center;
  transition: 0.3s ease;
}

.lesson:hover {
  border-color: #ffc107;
  background: #fff9e6;
}

.lesson-info h4 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #222;
}

.lesson-info span {
  font-size: 12px;
  color: #888;
}


.duration {
  font-size: 12px;
  background: #f1f3f6;
  padding: 6px 10px;
  border-radius: 20px;
  color: #555;
}
/*-----------------footer--------------- */
footer {
    background-color: #ffffff;
    padding: 30px 15px;
 
    
    
   
    
}

.footercontainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 60px;
   
    margin: 50px;

}


.footerleft {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;

}

.logobox {
    background-color: #ffdd9d;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center; 
    border-radius: 50%;
    margin-bottom: 10px;
}

.contactitem {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}
.contactitem a{
    text-decoration: none;
    color: #555;
}


.footerlinks {
    display: flex;
    gap: 50px;
}

.linkscolumn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    font-size: 18px; 
    color: #222; 
}

.linkscolumn a {
    text-decoration: none;
    color: #666;
    font-size: 14px;
}

.linkscolumn a:hover {
    color: #FF9500;
}


.socialicons {
    display: flex; 
    gap: 10px;
}

.socialicons i {
    background: #e6e6e6; 
    padding: 13px;
    border-radius: 50%;

}

.socialicons i:hover {
    background: #FF9500;
    color: white;
}

.contactitem a:hover {
    color: #FF9500;
}
@media (max-width: 768px) {
    .course-hero article {
        grid-template-columns: 1fr; 
        gap: 20px;
       
    } 
    .courses-container{
        grid-template-columns: 1fr; 
    }

}