* {
  margin: 0px;
  padding: 0px;

}


body {
  background: #fff;
  color: #222;
  line-height: 1.6;
}


.top-bar {
  background: #ff9500;
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding: 10px;
    font-size: 15px;
    border-radius: 5px;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  border-bottom: 1px solid #eee;
  flex-wrap: wrap;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 40px;
}


.logo {
  width: 42px;
  height: 42px;
  background: #ff9500;
  color: #fff;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 18px;
}
.logo :hover {
  scale: 1.5;
}



.nav-links {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-size: 15px;
  padding: 6px 10px;
  border-radius: 8px;
}

.nav-links a.active {
  background: #f5f5f5;
}


.nav-right {
  display: flex;
  gap: 15px;
  align-items: center;

}

.signup {
  text-decoration: none;
  color: #333;
  font-size: 15px;
}


.login {
  background: #ff9500;
  color: #fff;
  padding: 10px 18px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 14px;
}




.hero {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
  padding: 70px 40px;
}





.hero-text {
  flex: 1;
  max-width: 600px;
  font-size: 14px;
  line-height: 1.9;
  color: #555;
}




.pricing-section {
  background: #fafafa;
  padding: 80px 20px;

}


.pricing-toggle {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
}

.pricing-toggle button {
  padding: 10px 22px;
  border: none;
  border-radius: 8px;
  background: #fff;
  cursor: pointer;
  font-size: 14px;
}

.pricing-toggle .active {
  background: #ff9500;
  color: #fff;
}


.pricing-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 380px));
  gap: 30px;
  justify-content: center;
}


.pricing-card {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);

  display: flex;
  flex-direction: column;
}


.plan-title {
  background: #fff6eb;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  font-weight: bold;
  margin-bottom: 25px;
}


.plan-price {
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.plan-price span {
  font-size: 14px;
  color: #777;
}


.features h4 {
  text-align: center;
  margin-bottom: 20px;
}

.features ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 30px;
}

.features li {
  background: #fafafa;
  padding: 12px 15px;
  font-size: 13px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.features li::before {
  content: "✓";
  width: 20px;
  height: 20px;
  background: #fff0db;
  color: #ff9500;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 12px;
}

.features li.no::before {
  content: "✕";
  background: #f0f0f0;
  color: #999;
}


.plan-btn {
  margin-top: auto;
  padding: 14px;
  border: none;
  background: #ff9500;
  color: #fff;
  font-size: 15px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
@media (max-width: 768px) {
  .pricing-grid {
    grid-template-columns: 1fr;
  }
}




.faq-section {
  background: #fafafa;
  padding: 80px 20px;
}

.faq-container {
  max-width: 1200px;
  margin: auto;
  background: #fff;
  border-radius: 16px;
  padding: 60px;
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  gap: 60px;
}


.faq-left h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.faq-left p {
  font-size: 14px;
  color: #666;
  line-height: 1.8;
  margin-bottom: 25px;
}

.faq-btn {
  padding: 12px 20px;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 8px;
  cursor: pointer;
}

.faq-right {
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.faq-item {
  border: 1px solid #f1f1f1;
  border-radius: 12px;
  padding: 20px;
}


.faq-item summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}




.question-text {
  font-size: 15px;
  font-weight: 500;
}


.faq-icon {
  width: 32px;
  height: 32px;
  background: #fff6eb;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.faq-content {
  margin-top: 15px;
  font-size: 14px;
  color: #555;
  line-height: 1.7;
}


.faq-link {
  margin-top: 20px;
  background: #fafafa;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


@media (max-width: 768px) {
  .faq-container {
    grid-template-columns: 1fr;
    padding: 40px 20px;
  }
}



.footer {
  background: #fff;
  padding: 50px 80px 20px;
  border-top: 1px solid #eee;
}

.footer-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 60px;
  align-items: start;
}


.footer-left .logo {
  width: 50px;
  height: 50px;
  background: #ff9500;
  color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  margin-bottom: 20px;
}

.contact {
  list-style: none;
}

.contact li {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #555;
  margin-bottom: 12px;
  font-size: 14px;
}


.footer-col h4 {
  font-size: 16px;
  margin-bottom: 15px;
  color: #000;
}

.footer-col a {
  display: block;
  text-decoration: none;
  color: #555;
  margin-bottom: 10px;
  font-size: 14px;
}


.social {
  display: flex;
  gap: 10px;
}

.social a {
  width: 36px;
  height: 36px;
  background: #f2f2f2;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  text-decoration: none;
  font-size: 14px;
}


.footer-bottom {
  text-align: center;
  margin-top: 40px;
  padding-top: 15px;
  border-top: 1px solid #eee;
  font-size: 13px;
  color: #777;
}
a:hover{
  color: #ecd4b3;
  scale: 1.5;
}


@media (max-width: 768px) {
  .footer {
    padding: 40px 20px;
  }

  .footer-container {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}




